@media screen and (max-width: 1199px) {
    h1 {
        font-size: 64px;
    }
    .about-section-container {
        border-radius: 0;
    }
}
@media screen and (max-width: 991px) {
    .container {
        padding: 0 12px;
    }
    body.active-menu a.site-logo img.white {
        display: block;
    }
    body.active-menu a.site-logo img.primary {
        display: none;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 9;
    }
    button.hamburger-btn {
        border: none;
        background-color: transparent;
        padding: 4px 0;
        width: 40px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    button.hamburger-btn > span {
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: var(--accent-color);
        border-radius: 3px;
        transition: all 0.4s;
    }
    body.active-menu button.hamburger-btn > span:first-child {
        transform: rotate(-45deg);
        top: 10px;
        background-color: var(--white);
    }
    body.active-menu button.hamburger-btn > span:nth-child(2) {
        opacity: 0;
    }
    body.active-menu button.hamburger-btn > span:last-child {
        transform: rotate(45deg);
        top: -10px;
        background-color: var(--white);
    }
    nav.navbar {
        background-color: var(--accent-color);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 12px;
        display: block;
        text-align: center;
        z-index: 5;
        transition: all 0.4s;
    }
    nav.navbar > ul {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    nav.navbar > ul > li > a {
        color: var(--white);
        padding: 4px;
    }
    .navbar-right {
        padding: 24px 0;
    }
    .navbar-right > a {
        border-color: var(--white);
    }
    .navbar-right > a.primary-btn:hover {
        background: transparent;
        color: var(--white);
        border-color: var(--white);
    }
    .footer-content .large-text {
        font-size: 48px;
    }
    .featured-heading {
        flex-direction: column;
        text-align: center;
    }
    ul.featured-nav {
        justify-content: center;
    }
    .featured-gutter {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 48px
    }
    .gutter-32 {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 24px
    }
    .joinig-content {
        gap: 48px;
    }
    section.about-banner-section {
        padding: 0 0 48px;
    }
    .about-section-container {
        border-radius: 0;
    }
    .about-banner-content {
        flex-direction: column;
    }
    .about-banner-text {
        text-align: center;
    }
    .about-banner-text .button-group {
        justify-content: center;
    }
    .wide-content img {
        margin-bottom: 24px;
    }


}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
    h5, .single-featured-content a {
        font-size: 20px;
    }
    section.wind-section, section.hero-section, .featured-tab {
        padding: 48px 0;
    }
    .footer-content .large-text {
        font-size: 36px;
        margin-bottom: 48px;
    }
    .hero-img {
        border-radius: 16px;
    }
    .joinig-content {
        flex-direction: column;
        text-align: center;
        padding: 48px 0;
        gap: 24px;
    }
    .about-box-content {
        width: 185px;
        height: 185px;
        padding: 24px;
        bottom: -24px;
    }
    .benefits-content h2 {
        margin-bottom: 32px;
    }
    .partner-text-content {
        text-align: center;
    }
    .partner-text-content .button-group {
        justify-content: center;
    }



}
@media screen and (min-width: 992px) {
    nav.navbar {
        padding: 0 0 0 96px;
    }
    nav.navbar > ul {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
    nav.navbar > ul > li > a {
        padding: 3px 8px;
        text-transform: uppercase;
        color: var(--mid-contrast);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    nav.navbar > ul > li > a:hover {
        border-bottom: 1px solid #9CB0C4;
        text-shadow: 0 0 var(--high-contrast);
    }

}